.App {
  min-height: 90vh;
  min-width: 90vw;
  margin: 0;
  background-color: #282c34;
  align-items: center;
  color: white;
  text-align: center;
}

.App-body {
  min-height: 70vh;
}

.App > div {
  min-height: 100%;
}
