.App {
  min-height: 90vh;
  min-width: 90vw;
  margin: 0;
  background-color: #282c34;
  align-items: center;
  color: white;
  text-align: center;
}

Row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
